<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>partial html for imports</title>
</head>
<body>
<head>
  <title>Js Css Fragment</title>
</head>

<!-- Style Imports -->
<th:block th:fragment="cssCommonImports">
  <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css} "/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}"/>
</th:block>

<!-- Script Imports -->
<th:block th:fragment="jsCommonImports">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type='text/javascript' th:src='@{/webjars/jquery-ui/jquery-ui.min.js}'></script>
  <script type='text/javascript' th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</th:block>
</body>
</html>