.jumbotron {
    background-image: url("../img/miti.jpg");
    background-size: cover;
    height: 100%
}

.jumbotron h1{
    color: white
}
footer{
    height: 50px;
}

body, html {
    height: 100%;
}