<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <th:block th:insert="~{fragments/jsCssImports.html :: jsCommonImports}"></th:block>
  <th:block th:insert="~{fragments/jsCssImports.html :: cssCommonImports}"></th:block>

  <title>Miti</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/dataTables.dataTables.min.css}"/>
  <script type="text/javascript" th:src="@{/webjars/datatables/js/dataTables.min.js}"></script>

</head>
<body>

<div th:replace="~{fragments/header :: header}">...</div>

<div class="container">

  <table id="example" class="display cell-border" style="width:100%">
    <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thurs</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    </thead>
    <tbody>
    <tr style="height:200px">
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
    </tr>
    <tr style="height:200px">
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
    </tr>

    </tbody>

  </table>


  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

<div th:replace="~{fragments/footer :: footer}">...</div>
<script th:src="@{/js/checkCalendar.js}"></script>

</body>
</html>