<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <th:block th:insert="~{fragments/jsCssImports.html :: jsCommonImports}"></th:block>
    <th:block th:insert="~{fragments/jsCssImports.html :: cssCommonImports}"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/dataTables.dataTables.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/datatables/js/dataTables.min.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

    <title>Miti</title>

</head>
<body>

<div th:replace="~{fragments/header :: header}">...</div>

<div class="container">

    <br>

    <table id="table" class="table table-striped table-sm">
        <thead>
        <th style="width: 40%" scope="col">Name</th>
        <th style="width: 25%" scope="col">Arrive</th>
        <th style="width: 25%" scope="col">Leave</th>
        <th style="width: 5%" scope="col">Edit</th>
        <th style="width: 5%" scope="col">Delete</th>
        </thead>
        <tbody>
        <tr th:each="miti : ${miti}">
            <td th:text="${miti.name}"></td>
            <td th:text="${miti.arriveDate}"></td>
            <td th:text="${miti.leaveDate}"></td>
            <td><a th:href="@{edit_user/__${miti.id}__}"><span><i class="fa fa-edit" title="Edit"></i></span></a> </td>
            <td><a th:href="@{delete_user/__${miti.id}__}"><span><i class="fa fa-trash" title="Delete"></i></span></a></td>
        </tr>
        </tbody>
    </table>

    <br>

    <a href="/addNew"><button type="button" style="width:100%" class="btn btn-primary btn-lg">Add Yourself</button></a>

</div>

<div th:replace="~{fragments/footer :: footer}">...</div>
<script th:src="@{/js/table.js}"></script>
</body>
</html>